{
  "plugins": [
    "meteor",
    "react"
  ],
  "extends": [
    "airbnb"
  ],
  "settings": {
    "pragma": "React",
    "version": "15.0"
  },
  "rules": {
    "indent": [
      "error", 4, { "SwitchCase" : 1}
    ],
    "import/no-unresolved": [
      "error", { "ignore" : ["^meteor/"]}
    ],
    "comma-dangle": [
      "error", "never"
    ],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4]
  },
  "globals": {
    "Mongo": false,
    "Meteor": false
  }
}